<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>info.duhovniy.courierbackend.EmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/send-email</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>info.duhovniy.courierbackend.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SwitchOffServlet</servlet-name>
        <servlet-class>info.duhovniy.courierbackend.SwitchOffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SwitchOffServlet</servlet-name>
        <url-pattern>/switch-off</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>